@import 'bootstrap/bootstrap.scss';
@import 'slick/slick.scss';
@import 'slick/slick-theme.scss';
@import 'fontawesome/fontawesome.scss';

$text-color: #333333;
$primary-color: #449ed5;
$primary-hover-color: darken($primary-color, 10%);
$primary-text-color: #ffffff;
$primary-disabled-color: lighten($primary-color, 15%);
$gray-color: #eeeeee;
$gray-text-color: #878787;
$border-color: #dddddd;
$transition: 0.5s; 

@import 'mixin.scss';

body {
    font-size: 1rem;
    color: $text-color;
}

a {
    transition: $transition;

    &:hover {
        text-decoration: none;
    }
}

* {
    outline: none !important;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    border-bottom: 5px solid $primary-color;

    @include max($md) {
        padding: $gutter 0;
        position: static;
    }
}

.logo {
    @include max($xs) {
       img {
           max-height: 80px;
       }
    }
}

/* @Navigation */
.navigation {
    .navigation-list, 
    .navigation-sub-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;

        .navigation-list-item {
            position: relative;
            padding-left: $gutter;
            padding-right: $gutter;

            .navigation-link {
                text-decoration: none;
                color: $text-color;
                font-size: 1rem;
                line-height: 50px;
                display: block;
                border-bottom: 3px solid transparent;

                &:hover {
                    border-bottom-color: $primary-color;
                }
            }

            .navigation-sub-list {
                position: absolute;
                left: 0;
                top: 100%;
                display: none;
                z-index: 1;
                background-color: #000000;
                width: 220px;

                .navigation-sub-list-item {
                    display: block;
                    
                    .navigation-sub-link {
                        display: block;
                        border-bottom: 1px solid #ffffff;
                        padding-top: $gutter - 5;
                        padding-bottom: $gutter - 5;
                        padding-left: $gutter;
                        padding-right: $gutter;
                        color: #ffffff;
                        font-size: 0.9rem;
                        font-weight: 600;

                        &:hover {
                            border-color: $primary-color;
                            background-color: $primary-color;
                            color: $primary-text-color;
                        }
                    }
                }
            }

            &:hover {
                .navigation-sub-list {
                    display: block;
                }
            }
        }
    }

    @include max($md) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 200px;
        height: 100%;
        overflow-y: auto;
        background-color: #ffffff;
        display: block !important;
        z-index: 99;
        transition: $transition;

        .navigation-list {
            display: block;
            margin: 0;

            .navigation-list-item {
                padding: 0;

                .navigation-link {
                    padding: 0 $gutter;
                    border-bottom: 1px solid $border-color
                }

                .navigation-sub-list {
                    display: none !important;
                    opacity: 0;
                    visibility: hidden;
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }
}

body.mobile-menu-active {
    .navigation {
        left: 0;
    }
}

/* @Navigation Image */
.navigation-image {
    .navigation-image-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;

        .navigation-image-item {
            flex: 0 0 calc(100% / 7);
            max-width: calc(100% / 7);

            .navigation-image-link {
                display: block;
                text-align: center;
                color: $gray-text-color;
                font-weight: 600;
                font-size: 1rem;
                transition: $transition;
                
                > i {
                    display: block;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    @include max($md) {
        .navigation-image-list {
            .navigation-image-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
                margin-bottom: $gutter;
            }
        }
    }
}

/* @Slider */
.slider {
    .slider-item {
        position: relative;

        .slider-item-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: #ffffff;
    
            .slider-item-title {
                font-size: 2rem;
            }
    
            .slider-item-description {
                font-size: 1rem;
            }
    
            .slider-item-text {
                margin-bottom: $gutter;
                font-size: 0.8rem;
            }
        }
    }
    .slick-arrow {
        background-color: $primary-color;
        color: $primary-text-color;
        width: 3rem;
        height: 3rem;
        @include center;
        font-size: 1rem;
        z-index: 2;

        &:before {
            display: none;
        }

        &.slick-next {
            right: 25px;
        }

        &.slick-prev {
            left: 25px;
        }

        &.slick-disabled {
            background-color: $primary-disabled-color;
        }
    }

    .slick-dots {
        bottom: 15px;

        li {
            button {
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background-color: $primary-disabled-color;

                &:before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: $primary-color;
                }
            }
        }
    }
}

.entry-row-2 {
    background-color: $gray-color;
}

/* @Navigation Image */
.navigation {
    .navigation-image-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;

        .navigation-image-item {
            padding-left: $gutter;
            padding-right: $gutter;

            .navigation-image-link {
                display: block;
                text-decoration: none;
                text-align: center;
                color: $gray-text-color;
                font-size: 1rem;
                font-weight: 600;
                transition: $transition;
                
                i, span {
                    display: block;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    @include max($xs) {
        .navigation-image-list  {
            .navigation-image-item {
                flex: 0 0 50%;
                max-width: 100%;
                margin-bottom: $gutter;
            }
        }
    }
}

/* @Blog */
.blog-title {
    h3 {
        color: $text-color;
        font-weight: 600;
        display: inline-block;
        position: relative;
        padding-bottom: $gutter;
        margin-bottom: $gutter;
        border-bottom: 2px solid $primary-color;
    }
}
.blog-item {
    border: 1px solid $border-color;
    transition: $transition;

    .blog-item-image {
        a {
            display: block;
            position: relative;
            padding-top: 69%;
            overflow: hidden;
            @include imgcenter;
        }
    }

    .blog-item-content {
        padding: $gutter;

        .blog-title {
            font-weight: 600;
        }

        .blog-description {
            font-size: 0.8rem;
            color: $gray-text-color;
        }

        .blog-url {
            a {
                font-size: 0.8rem;
                color: $text-color;
                font-weight: 600;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &:hover {
        border-color: $primary-color;

        .blog-item-content {
            .blog-url {
                a {
                    color: $primary-color;
                }
            }
        }
    }
}

@include max($md) {
    .blog-title {
        text-align: center;
    }
}

/* @Banner Section */
.banner-section {
    .banner-section-title {
        span {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 400;
            color: $text-color;
            padding-bottom: $gutter - 5;
            margin-bottom: $gutter;
            border-bottom: 2px solid $primary-color;
        }
    }

    .banner-section-content {
        .banner {
            border: 1px solid $border-color;
            transition: $transition;

            .banner-image {
                margin-bottom: $gutter;

                a {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    padding-top: 66%;
                    @include imgcenter;
                }
            }

            .banner-content {
                .banner-title {
                    font-size: 0.8rem;
                    font-weight: 600;

                    span {
                        display: inline-block;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        border-bottom: 1px solid #000000;
                    }
                }

                .banner-description {
                    font-size: 0.8rem;
                    color: $gray-text-color;
                    margin-bottom: $gutter - 5;
                }

                .banner-url {
                    a {
                        display: block;
                        font-size: 0.8rem;
                        padding: 5px 0;
                        background-color: $gray-color;
                        color: $gray-text-color;
                    }
                }
            }

            &:hover {
                border-color: $primary-color;

                .banner-content {
                    .banner-url {
                        a {
                            background-color: $primary-color;
                            color: $primary-text-color;
                        }
                    }
                }
            }
        }
    }

    @include max($md) {
        .banner-section-title {
            text-align: center;
            
            span {
                font-size: 1rem;
            }
        }
    }
}

/* @Newsletter */
.newsletter {
    .newsletter-title {
        color: #ffffff;
        font-size: 1.3rem;
        margin-bottom: $gutter - 5;
    }
}

.copyright {
    color: #ffffff;
}

.social-link-footer {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1rem;
    @include center;
    transition: $transition;

    &:hover {
        border-color: $primary-color;
        color: $primary-color;
    }
}

/* @Footer */
footer {
    margin-top: $gutter * 2;

    .footer-top {
        background-color: #333333;
    }

    .footer-bottom {
        background-color: #242424;
    }

    .logo {
        small {
            display: block;
            margin-top: $gutter - 5;
            color: #ffffff;
        }
    }

    .phone,
    .mail,
    .address {
        margin-bottom: $gutter;

        a {
            display: flex;
            flex-wrap: wrap;
            color: #ffffff;
            font-size: 1rem;

            span {
                flex: 1 0 0;
                padding-left: 0.7rem;
            }
        }

        @include max($md) {
            text-align: left;
        }
    }

    .footer-menu {
        .footer-menu-title {
            color: #ffffff;
            font-size: 1rem;
            margin-bottom: $gutter;
        }

        .footer-menu-content {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: block;

                    a {
                        display: block;
                        padding: 10px 0;
                        color: #ffffff;
                        border-bottom: 1px solid $border-color;
                    }

                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    @include max($md) {
        text-align: center;
    }
}

/* @Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    display: none;
    z-index: 98;
}